* {
    padding: 0;
    margin: 0;
    font-family: 'Recoleta';
}

:root {
    --dull-white: #f7f8f6;
    --dull-sea-green: #336f7f;
    --custom-black: #263138;
    --dark-sea-green: #285763;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../font/Recoleta-RegularDEMO.otf');
}
@font-face {
    font-family: 'NeueMontreal';
    src: url('../font/NeueMontreal-Regular.otf');
}
@font-face {
    font-family: 'Avenir';
    src: url('../font/AvenirLTStd-Black.otf');
}
@font-face {
    font-family: 'Avenir-normal';
    src: url('../font/AvenirLTStd-Book.otf');
}
@font-face {
    font-family: 'bodoni';
    src: url('../font/BOD_R.TTF');
}
.container {
    max-width: 1300px;
    width: 97.8%;
    margin: auto;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none; 
}
.icon{
    color: var(--custom-black);
}
.use_code{
    padding: 3px 8px;
    color: white;
    background-color: var(--dark-sea-green);
}
.skip_links a{
    cursor: pointer;
    font-family: 'NeueMontreal';
}
.banner h2.dull_sea_green{
    font-family: 'Recoleta';
    font-size: 20px;
    font-weight: 600;
    color: var(--dull-sea-green);
}
.banner p.dull_sea_green{
    font-family: 'Recoleta';
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--dull-sea-green);
}
#filter_sm {
	padding: 5px 15px;
	background-color: white;
	color: black;
	border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
	outline: none;
}
.main{
    background-color: #eef2f3;
}













.ribbon {
    background-color: var(--dull-sea-green);
}

.ribbon p {
    color: white;
    font-weight: 500;
    font-size: 1rem;
}


.header_area{
    width: 98%;
    margin: 0 1%;
}
.logo_cover {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 0;
    max-width: 150px;
}
.logo_cover img {
    width: 100%;
}
.menu_cover{
    flex-grow: 1;
}
.menu_cover .menu{
    width: 96%;
}
.menu_cover .menu{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}
.menu_cover .menu li.menu_link{
    padding: 0.7em 0.7em 0.5em 0.9em!important;
    line-height: 1;
    font-size: .8rem;
    font-weight: 400;
}
.menu_cover .menu li.menu_link a{
    text-transform: uppercase;
    color: var(--custom-black);
}
.search_box_cover{
    border: 1px solid #c6c6c6;
    border-radius: 7px;
    display: flex;
    flex-wrap: nowrap;
}

.search_box_cover button[type="submit"] {
    padding: 0 0 0 0.5em;
    border: none;
    padding-left: 1em;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.search_box_cover input{
    background-color: transparent;
    border: none;
    padding: 4px 0 4px 8px;
    font-size: 13px;
}
.search_box_cover input:focus{
    outline: none !important;
}
header .icon_box{
    border-radius: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
    width: 25px; height: 25px;
    border: none;
}
select#currency{
    border: none;
}

select#currency::after{
    content: "";
    display: none;
    color: white;
}
header.header_area{
    border-bottom: 1px solid #f7f8f6;
}

.banner{
    width: 100%;
    margin: 0;
}
.banner img{
    height: 100%;
    width: 100%;
}
.filter_menu_cover{
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    width: 98%;
    margin: 0 1%;
}
.filter_menu_cover ul li button{
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
}

.filter_menu_cover ul{
    padding-left: 0;
}
.filter_menu_cover ul.d-flex.align-items-center.justify-content-center  li{
    position: relative;
}

.filter_menu_cover ul li:last-child{
    border-right: none;
}

.dropdown{
    position: absolute;
    display: none;
    bottom: 0;
    left: -1px;
    max-height: 150px;
    overflow-y: scroll;
    width: 200px;
    transform: translateY(100%);
    border: 1px solid #c6c6c6;
    background-color: #f7f8f6;
}
.filter_menu_cover > ul > li{
    position: relative;
}
.dropdown ul li{
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    border-bottom: 1px solid #c6c6c6;
}
li.active{
    background-color: #f7f8f6;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
}
.color_image{
    width: 30px; height: 30px;
    overflow: hidden;
    border-radius: 50%;
}
ul li:nth-child(2) .dropdown{
    width: 500px;
}
.card_detail_section{
    padding: 0 10%;
}
.cart_image_cover img{
    width: 100%;
}
.cart_text a , .cart_text span{
    font-size: 13px;
    color: #263138;
    text-transform: capitalize;
}
.card_card_cover{
    background-color: white;
    border: 1px solid #DEE4E5;
    padding: 0px 0 5px 0;
}
.card_btn{
    border-top: 1px solid #eee;
    border-radius: 4px;
    overflow: hidden;
}
.card_btn .icon_both img{
    width: 30px; height: 30px;
    border-radius: 50%;
}
.card_btn .icon_box{
    background-color: #eef2f3;
    padding: 0px 5px;
}
.btn_text{
    background-color: var(--dull-sea-green);
    color: white;
    font-family: 'Recoleta';
    padding: 4px 30px;
}
.card_btn p{
    font-size: 12px;
}
.toolbar p , .toolbar select{
    font-size: 13px;
}
.toolbar p{
    padding-right: 10px;
    border-right: 1px solid black;
}
.toolbar .container{
    width: 98%;
    margin: 20px auto;
    padding: 0 1%;
}














.wedding_invitaions{
    background-color: white;
}
.wedding_invitaions .section_header{
    background-color: var(--dull-sea-green);
}
.wedding_invitaions .section_header h2{
    font-family: 'Recoleta';
    padding: 10px 0;
}
.wedding_invitaions .section_sub_header{
    background-color: #F7F8F6;
}
.wedding_invitaions .section_sub_header p{
    font-weight: 500;
    font-size: 15px;
}
.wedding_invitaions .review_title{
    font-family: 'Avenir';
    font-weight: 900;
}
.stars .icon{
    color: orange;
}
.wedding_invitaions .review{
    background-color: #eef2f3;
    border-radius: 15px;
}
.wedding_invitaions .unique_doc{
    border-bottom: 1px solid #c6c6c6;
}
.accordion-button:not(.collapsed) {
    background-color: #e5ebed !important;
}
.accordion-item:first-of-type .accordion-button {
    box-shadow: none !important;
}
.related_searches h4{
    font-family: 'bodoni';
}
.related_links{
    margin: 15px auto;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.related_links li{
    margin-right: 15px;
}
.related_links li a{
    color: #336f7f;
    font-family: 'Avenir-normal';
}
.footer{
    background-color: #f5f3f1;
}
.footer_heading{
    font-family: 'bodoni';
    font-size: 2rem;
}
.footer li a{
    font-family: 'Avenir-normal';
    font-size: 1rem;
    color: #263138;
}
.footer li{
    line-height: 27px;
}




















@media screen and (max-width: 415px){
    .btn_text p:first-child{
        font-size: 11px !important;
    }
    .btn_text p:last-child{
        font-size: 8px !important;
    }
    .btn_text{
        padding: 3px 6px;
    }
    .card_btn .icon_both {
        transform: scale(0.6);
        width: 25px !important;
        margin: 0 7px 0 0;
    }
}
@media screen and (min-width: 990px){
    .btn_text p:first-child{
        font-size: 13px !important;
    }
    .btn_text p:last-child{
        font-size: 10px !important;
    }
    .btn_text{
        padding: 3px 15px;
    }
    .card_btn .icon_both {
        transform: scale(0.6);
        width: 25px !important;
        margin: 0 7px 0 0;
    }
}

@media screen and (min-width: 768px){
    .logo_cover {
        width: 100%;
        max-width: 175px;
    }
    .banner img{
        width: 100%;
    }
    .banner{
        width: 98%;
        margin: 0 1%;
    }
    .header_area .container{
        max-width: calc(1300px - 1%) !important;
    }
    .use_code{
        background-color: transparent;
    }
    .main{
        background-color: white;
    }
    .card_card_cover{
        border: none;
    }
    .wedding_invitaions .review{
        background-color: transparent;
    }
    .wedding_invitaions .reviews_section{
        border-bottom: 1px solid #c6c6c6;
    } 
    .wedding_invitaions{
        border: 1px solid #c6c6c6;
    }   
}
@media screen and (min-width: 990px){
    .header_left{
        flex-grow: 1;
    }
}
