* {
    padding: 0;
    margin: 0;
}

:root {
    --dull-white: #f7f8f6;
    --dull-sea-green: #336f7f;
    --custom-black: #263138;
}

@font-face {
    font-family: 'FiloSofia';
    src: url('../font/Filosofia\ SmallCaps\ Regular.otf');
}
.container {
    max-width: 1300px;
    width: 97.8%;
    margin: auto;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none; 
}
.icon{
    color: var(--custom-black);
}
.text-sea-green{
    color: var(--dull-sea-green) !important;
}















.ribbon {
    background-color: var(--dull-white);
}

.ribbon p {
    text-transform: uppercase;
    color: var(--custom-black);
}


.header_area{
    width: 98%;
    margin: 0 1%;
}
.logo_cover {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 0;
    max-width: 150px;
}
.logo_cover img {
    width: 100%;
}
.menu_cover{
    flex-grow: 1;
}
.menu_cover .menu{
    width: 96%;
}
.menu_cover .menu{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}
.menu_cover .menu li.menu_link{
    padding: 0.7em 0.7em 0.5em 0.9em!important;
    line-height: 1;
    font-size: .8rem;
    font-weight: 400;
}
.menu_cover .menu li.menu_link a{
    text-transform: uppercase;
    color: var(--custom-black);
}
.search_box_cover{
    border: 1px solid #c6c6c6;
    border-radius: 7px;
    display: flex;
    flex-wrap: nowrap;
}

.search_box_cover button[type="submit"] {
    padding: 0 0 0 0.5em;
    border: none;
    padding-left: 1em;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.search_box_cover input{
    background-color: transparent;
    border: none;
    padding: 4px 0 4px 8px;
    font-size: 13px;
}
.search_box_cover input:focus{
    outline: none !important;
}
header .icon_box{
    border-radius: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
    width: 25px; height: 25px;
    border: none;
}
select#currency{
    border: none;
}

select#currency::after{
    content: "";
    display: none;
    color: white;
}
header.header_area{
    border-bottom: 1px solid #f7f8f6;
}

.banner{
    width: 100%;
    margin: 0;
}
.banner img{
    height: 100%;
    width: 100%;
}
.filter_menu_cover{
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    width: 98%;
    margin: 0 1%;
}
.filter_menu_cover ul li button{
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
}

.filter_menu_cover ul{
    padding-left: 0;
}
.filter_menu_cover ul.d-flex.align-items-center.justify-content-center  li{
    border-right: 1px solid #c6c6c6;
    position: relative;
}

.filter_menu_cover ul li:last-child{
    border-right: none;
}

.dropdown{
    position: absolute;
    display: none;
    bottom: 0;
    left: -1px;
    max-height: 150px;
    overflow-y: scroll;
    width: 200px;
    transform: translateY(100%);
    border: 1px solid #c6c6c6;
    background-color: #f7f8f6;
}
.filter_menu_cover > ul > li{
    position: relative;
}
.dropdown ul li{
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    border-bottom: 1px solid #c6c6c6;
}
li.active{
    background-color: #f7f8f6;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
}
.color_image{
    width: 30px; height: 30px;
    overflow: hidden;
    border-radius: 50%;
}
ul li:nth-child(2) .dropdown{
    width: 500px;
}
.cart_image_cover{
    padding: 0 10%;
}
.cart_image_cover img{
    width: 100%;
}
.cart_text a , .cart_text span{
    font-size: 13px;
    color: #263138;
    text-transform: capitalize;
}
.card_tools{
    border-top: 1px solid #eee;
}
.card_tools .icon_both img{
    width: 20px; height: 20px;
    border-radius: 50%;
}
.card_tools p{
    font-size: 12px;
}
.toolbar p , .toolbar select{
    font-size: 13px;
}
.toolbar p{
    padding-right: 10px;
    border-right: 1px solid black;
}
.toolbar .container{
    width: 98%;
    margin: 20px auto;
    padding: 0 1%;
}
































@media screen and (min-width: 768px){
    .logo_cover {
        width: 100%;
        max-width: 175px;
    }
    .banner img{
        width: 100%;
    }
    .banner{
        width: 98%;
        margin: 0 1%;
    }
    .header_area .container{
        max-width: calc(1300px - 1%) !important;
    }
}
@media screen and (min-width: 990px){
    .header_left{
        flex-grow: 1;
    }
}
